*.apk
*.iml
.gradle
.kotlin
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/iosApp/iosApp.xcworkspace/contents.xcworkspacedata
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/iosApp/Podfile.lock
/composeApp/composeApp.podspec
