name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:


  Lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ktlintFormat --stacktrace
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Ktlint format

      - run: ./gradlew ciLint --stacktrace



  Tests:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        gradle-tasks: [
          "jvmTest",
          # "testAndroidHostTest",
          # "wasmJsBrowserTest"
        ]
        os: [ ubuntu-latest ]
        experimental: [ false ]
        emulator: [ false ]
        include:
          # managedVirtualDeviceAndroidDeviceTest
          - gradle-tasks: "managedVirtualDeviceDebugAndroidTest -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect"
            os: ubuntu-latest
            experimental: false
            emulator: true
          - gradle-tasks: "iosSimulatorArm64Test"
            os: macos-latest
            experimental: false
            emulator: false
    steps:

      - uses: actions/checkout@v6

      - name: Enable KVM group perms
        if: matrix.emulator
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ciSdkManagerLicenses --stacktrace
        if: matrix.emulator

      - run: ./gradlew clean ${{ matrix.gradle-tasks }} --stacktrace

      - name: Get task name
        id: get_task
        run: echo "taskName=$(echo ${{ matrix.gradle-tasks }} | cut -d ' ' -f 1 | tr ':' '_')" >> $GITHUB_OUTPUT

      - name: Collect reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: reports-${{ steps.get_task.outputs.taskName }}-${{ matrix.os }}
          path: |
            **/build/reports/
          retention-days: 7



  Android:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ciAndroid --stacktrace



  Desktop:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-latest,
          ubuntu-latest,
          windows-latest
        ]
    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ciDesktop --stacktrace



  WasmJsBrowser:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ciWasmJsBrowser --stacktrace

      - run: ./gradlew :app:webApp:wasmJsBrowserDistribution --stacktrace



  iOS:
    runs-on: macos-latest
    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ciIos --stacktrace
