name: CompareScreenshot

on:
  pull_request:

permissions: { }

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:
  compare-screenshot-test:
    runs-on: macos-latest
    timeout-minutes: 50

    permissions:
      contents: read # for clone
      actions: write # for upload-artifact
      checks: read # for wait-on-check-action

    steps:
      - name: Checkout base branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.base_ref }}

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Get base branch HEAD commit
        id: get_base_branch_head
        run: echo "sha=$(git rev-parse origin/${{ github.base_ref }})" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Wait for base unit-test to succeed before downloading base branch screenshot artifact
        uses: lewagon/wait-on-check-action@ccfb013c15c8afb7bf2b7c028fb74dc5a068cccc # v1.3.4
        with:
          ref: ${{ steps.get_base_branch_head.outputs.sha }}
          check-name: 'store-screenshot-test'
          repo-token: ${{ github.token }}
          wait-interval: 10

      - uses: dawidd6/action-download-artifact@5c98f0b039f36ef966fdb7dfa9779262785ecb05 # v14
        continue-on-error: true
        with:
          name: screenshot
          workflow: StoreScreenshot.yml
          commit: ${{ steps.get_base_branch_head.outputs.sha }}
          if_no_artifact_found: fail

      - name: compare screenshot test
        id: compare-screenshot-test
        run: |
          ./gradlew compareRoborazziAndroidHostTest -DIS_DATA_STUB_ENABLED=true --stacktrace --info --profile

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: screenshot-diff
          path: |
            **/build/outputs/roborazzi
          retention-days: 30

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: screenshot-diff-reports
          path: |
            **/build/reports
            **/build/outputs/roborazzi
          retention-days: 30

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: screenshot-diff-test-results
          path: |
            **/build/test-results
          retention-days: 30

      - name: Save PR number
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pr
          path: pr/
