name: deploy

on:
  push:
    branches:
      - main

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:

  Deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@576fcbecfed70890e466eeffd7c78d93b30b0472 #

      - run: ./gradlew :app:webApp:composeCompatibilityBrowserDistribution --stacktrace
        env:
          PIXABAY_API_KEY: ${{ secrets.PIXABAY_API_KEY }}

      - uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          branch: gh-pages
          folder: app/webApp/build/dist/wasmJs/productionExecutable
