name: deploy

on:
  push:
    branches:
      - main

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:

  Deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew :app:webApp:composeCompatibilityBrowserDistribution --stacktrace
        env:
          PIXABAY_API_KEY: ${{ secrets.PIXABAY_API_KEY }}

      - uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: app/webApp/build/dist/wasmJs/productionExecutable
