name: Update screenshots

on:
  workflow_dispatch:

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:



  RecordScreenshotMatrixSetup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - run: ./gradlew ciRecordScreenshotJobsMatrixSetup --stacktrace

      - id: matrix
        run: echo "matrix=$(cat build/record_screenshot_jobs_matrix.json | jq -c .)" >> $GITHUB_OUTPUT



  RecordScreenshot:
    needs: RecordScreenshotMatrixSetup
    runs-on: macos-latest
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        variants: ${{ fromJson(needs.RecordScreenshotMatrixSetup.outputs.matrix) }}
    steps:

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - id: screenshots_path
        run: |
          GRADLE_TASK="${{ matrix.variants.gradle_tasks }}"
          MODULE_PATH=$(echo "$GRADLE_TASK" | sed 's/:[^:]*$//' | sed 's/^://' | tr ':' '/')
          echo "path=${MODULE_PATH}/src/screenshots" >> $GITHUB_OUTPUT

      - run: rm -rf ${{ steps.screenshots_path.outputs.path }}

      - run: ./gradlew ${{ matrix.variants.gradle_tasks }} -DIS_DATA_STUB_ENABLED=true --stacktrace

      - run: brew install pngcheck

      - run: find ${{ steps.screenshots_path.outputs.path }} -name "*.png" | xargs pngcheck -q

      - run: git pull --rebase

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: Update screenshots
