name: Update screenshots

on:
  workflow_dispatch:

env:
  JAVA_VERSION: 21
  JAVA_DISTRIBUTION: 'zulu'

jobs:


  UpdateScreenshot:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-java@v5.1.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - uses: gradle/actions/setup-gradle@v5

      - run: rm -rf screenshots

      - run: ./gradlew recordRoborazziAndroidHostTest -DIS_DATA_STUB_ENABLED=true --stacktrace

      - run: ./gradlew ciPngCheck --stacktrace

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update screenshots
